<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%- include('../../../styles/globalCSS.ejs') %>
    <%- include('styles.ejs') %>
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('../../components/Header/index.ejs') %>
    <Main>
        <section class="noticia">
            <figure>
                <img src="<%= post.img.url %>" alt="<%= post.img.alt %>">
            </figure>
            <div class="postTitle">
                <% if(post.isHighlighted) { %>
                    <p class="titulo-main-destaque"><i class="fas fa-star"></i> DESTAQUE</p>
                <% } %>
                <p class="titulo-main"><%= post.title %></p>
                <p class="autor-main"><span>por <strong><%= post.author %> </strong> hรก <%= post.postTime %> </span><time><i class="far fa-clock"></i> <span class="main-tempo-leitura"><%= post.readTime %> MIN DE LEITURA</span></time></p>
            </div>
        </section>
        <section class="conteudo">
            <p><%- post.content %></p>
        </section>
    </Main>
    <%- include('../../components/Footer/index.ejs') %>
    <script src="https://kit.fontawesome.com/bc7de74478.js" crossorigin="anonymous"></script>
</body>
</html>

