<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paladins Blog</title>
    <script src="https://kit.fontawesome.com/bc7de74478.js" crossorigin="anonymous"></script>
    <%- include('../../../styles/globalCSS.ejs') %>
    <%- include('styles.ejs') %>
</head>
<body>
    <%- include('../../components/Header/index.ejs') %>

    <main>
        <section class="emphasis">
            <section class="slider">
                <ul class="imgsSlider">
                    <li>
                        <img src="https://pbs.twimg.com/media/EHPxN2gW4AANtDS.jpg" alt="placeholder2">
                        <h2>O baú de Halloween está de volta na loja!</h2>
                    </li>
                    <li>
                        <img src="https://i.pinimg.com/originals/ad/7f/51/ad7f511599c7c3bde1e19cc38f240fed.jpg" alt="placeholder1">
                        <h2>Conheça a nova skin do Jenos no passe de batalha!</h2>
                    </li>
                    <li>
                        <img src="https://i.pinimg.com/736x/33/61/2b/33612b8beb7cd9b1fa72e35655968e2a.jpg" alt="placeholder3">
                        <h2>Chegou o novo passe de batalha Battle Byte!</h2>
                    </li>
                </ul>
                <button><i class="fas fa-angle-left"></i></button>
                <button><i class="fas fa-angle-right"></i></button>
            </section>
            <h1>Confira os principais posts desta semana!</h1>
        </section>
        <ul class="postList">
            <li>
                <section class="postInfo">
                    <h3>O baú de Halloween está de volta!</h3>
                    <p><strong>LEITURA</strong> 4 MIN <i class="far fa-clock"></i></p>
                    <p>Por Luís Passos</p>
                </section>
                <figure>
                    
                </figure>
            </li>
            <li>
                <section class="postInfo">
                    <h3>Chegou o novo passe de batalha Battle Byte!</h3>
                    <p><strong>LEITURA</strong> 4 MIN <i class="far fa-clock"></i></p>
                    <p>Por Luís Passos</p>
                </section>
                <figure>
                    
                </figure>
            </li>
            <li>
                <section class="postInfo">
                    <h3>O baú de Halloween está de volta!</h3>
                    <p><strong>LEITURA</strong> 4 MIN <i class="far fa-clock"></i></p>
                    <p>Por Luís Passos</p>
                </section>
                <figure>
                    
                </figure>
            </li>
            <li>
                <section class="postInfo">
                    <h3>Conheça a nova skin do Jenos no passe de batalha!</h3>
                    <p><strong>LEITURA</strong> 4 MIN <i class="far fa-clock"></i></p>
                    <p>Por Luís Passos</p>
                </section>
                <figure>
                    
                </figure>
            </li>
        </ul>
    </main>

    <%- include('./script.ejs') %>
    <!-- <%- include('../../components/Footer/index.ejs') %> -->
</body>
</html>