<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paladins Blog</title>
    <script src="https://kit.fontawesome.com/bc7de74478.js" crossorigin="anonymous"></script>
    <%- include('../../../styles/globalCSS.ejs') %>
    <%- include('styles.ejs') %>
</head>
<body>
    <%- include('../../components/Header/index.ejs') %>
    <main>
        <section class="emphasis">
            <section class="slider">
                <ul class="imgsSlider">
                    <% posts.forEach(post => { %>
                       <% if(post.isHighlighted) { %>
                        <li>
                            <img src="<%= post.img.url %>" alt="<%= post.img.alt %>">
                            <h2><%= post.title %></h2>
                        </li>
                       <% } %> 
                    <% }) %>  
                </ul>
                <button><i class="fas fa-angle-left"></i></button>
                <button><i class="fas fa-angle-right"></i></button>
            </section>
            <h1>Confira os principais posts desta semana!</h1>
        </section>
        <ul class="postList">
            <% posts.forEach(post => { %>
                <li onclick="goToPost('<%= post.ref %>')">
                    <article class="postInfo">
                        <h3><%= post.title %></h3>
                        <p><strong>LEITURA</strong> <%= post.readTime %> MIN <i class="far fa-clock"></i></p>
                        <p>Por <%= post.author %></p>
                    </article>
                    <figure style="background: url(<%= post.img.url %>) <%= post.img.x %> <%= post.img.y %>;"></figure>
                    <!-- Harmless error -->
                </li>
           <% }) %>
        </ul>
    </main>

    <%- include('../../components/Footer/index.ejs') %>
    <%- include('./script.ejs') %>
</body>
</html>
